<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tl.pro.travelkit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ApplicationInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.IndexActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShopkeeperActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.PullActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PublishActivity">
        </activity>
        <activity android:name=".activity.GoodsDetailPublishActivity">
        </activity>
        <activity android:name=".activity.base.PublishBaseActivity">
        </activity>
        <activity android:name=".activity.base.ToolBarBaseActivity">
        </activity>
        <activity android:name=".activity.GoodsScanActivity">
        </activity>
        <activity android:name=".activity.GoodsCommentActivity">
        </activity>
        <activity android:name=".activity.ShoppingCartActivity">
        </activity>

        <!-- test -->
        <activity android:name=".test.PercentActivity">

        </activity>
        <!-- <activity -->
        <!-- android:name="com.mob.tools.MobUIShell" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->
        <activity android:name=".activity.AliPayActivity">
        </activity>
        <activity android:name=".activity.WaitForActivity">
        </activity>
    </application>

</manifest>